<app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Planificación de Viajes Masivos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="planificacionForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa.png" alt="Logo" class="logo-image">
            <h3 class="ion-padding-top">Complete los campos para la planificación semanal de viajes.</h3>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header><ion-card-title> Seleccione Vehículo y Días</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-select formControlName="vehiculo" interface="popover" label="Vehículo y Conductor" label-placement="stacked">
                    <ion-select-option *ngFor="let v of vehiculos" [value]="v.id">{{ v.patente }} - {{ v.conductor }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <p class="ion-padding-top ion-text-center">Seleccione los días a planificar:</p>
                <ion-datetime formControlName="diasSeleccionados" presentation="date" [multiple]="true" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" class="calendar-embedded" [isDateEnabled]="isWeekday"></ion-datetime>
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header><ion-card-title> Defina los Horarios y Rutas</ion-card-title></ion-card-header>
              <ion-card-content formArrayName="horarios">
                <div *ngFor="let horario of horarios.controls; let i = index" class="schedule-row">
                  <div [formGroupName]="i" class="schedule-inputs">
                    <ion-item><ion-input label="Hora Inicio (08-17h)" label-placement="stacked" type="time" formControlName="inicio" min="08:00" max="17:00"></ion-input></ion-item>
                    <ion-item><ion-input label="Hora Fin (08-17h)" label-placement="stacked" type="time" formControlName="fin" min="08:00" max="17:00"></ion-input></ion-item>
                    <ion-item>
                      <ion-select formControlName="programa" label="Programa" label-placement="stacked">
                        <ion-select-option *ngFor="let item of programa.prog" [value]="item.value">{{ item.label }}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    
                    <!-- Punto de Salida por Horario -->
                    <ion-item class="full-width-item">
                      <ion-select formControlName="puntoSalida" label="Punto de Salida" label-placement="stacked" (ionChange)="onSalidaChange($event, i)">
                        <ion-select-option value="otro">Otro</ion-select-option>
                        <ion-select-option *ngFor="let c of centros.central" [value]="c.value">{{c.label}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoSalida')?.value === 'otro'" class="full-width-item"><ion-input label="Dirección Salida" label-placement="stacked" formControlName="direccionSalida"></ion-input></ion-item>
                    <ion-item *ngIf="horario.get('puntoSalida')?.value === 'salud'" class="full-width-item">
                      <ion-select formControlName="centroSaludSalida" label="Centro Salud (Salida)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.salud" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoSalida')?.value === 'educacion'" class="full-width-item">
                      <ion-select formControlName="centroEducacionSalida" label="Centro Educación (Salida)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.educacion" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoSalida')?.value === 'atm'" class="full-width-item">
                      <ion-select formControlName="centroAtmSalida" label="Atención Menores (Salida)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.atm" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>

                    <!-- Punto de Destino por Horario -->
                    <ion-item class="full-width-item">
                      <ion-select formControlName="puntoDestino" label="Punto de Destino" label-placement="stacked" (ionChange)="onDestinoChange($event, i)">
                        <ion-select-option value="otro">Otro</ion-select-option>
                        <ion-select-option *ngFor="let c of centros.central" [value]="c.value">{{c.label}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoDestino')?.value === 'otro'" class="full-width-item"><ion-input label="Dirección Destino" label-placement="stacked" formControlName="direccionDestino"></ion-input></ion-item>
                    <ion-item *ngIf="horario.get('puntoDestino')?.value === 'salud'" class="full-width-item">
                      <ion-select formControlName="centroSaludDestino" label="Centro Salud (Destino)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.salud" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoDestino')?.value === 'educacion'" class="full-width-item">
                      <ion-select formControlName="centroEducacionDestino" label="Centro Educación (Destino)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.educacion" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>
                    <ion-item *ngIf="horario.get('puntoDestino')?.value === 'atm'" class="full-width-item">
                      <ion-select formControlName="centroAtmDestino" label="Atención Menores (Destino)" label-placement="stacked"><ion-select-option *ngFor="let c of centros.atm" [value]="c.value">{{c.label}}</ion-select-option></ion-select>
                    </ion-item>
                  </div>
                  <ion-button fill="clear" color="danger" (click)="removerHorario(i)" class="remove-btn"><ion-icon name="trash-outline" slot="icon-only"></ion-icon></ion-button>
                </div>
                <ion-button expand="block" fill="outline" (click)="agregarHorario()" class="ion-margin-top" [disabled]="!canAddHorario"><ion-icon name="add-circle-outline" slot="start"></ion-icon>Agregar Otro Horario</ion-button>
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-card-header><ion-card-title> Detalles Generales</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-item><ion-input label="Cantidad de Ocupantes" label-placement="stacked" type="number" formControlName="ocupantes" [max]="maxOcupantes"></ion-input></ion-item>
                <ion-item><ion-input label="Motivo del viaje" label-placement="stacked" formControlName="motivo"></ion-input></ion-item>
                <ion-item><ion-input label="Responsable" label-placement="stacked" formControlName="responsable"></ion-input></ion-item>
              </ion-card-content>
            </ion-card>

            <ion-button expand="block" color="primary" type="submit" [disabled]="!planificacionForm.valid" class="ion-margin-top submit-button">Planificar Viajes</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</div>
