.logo-image {
  display: block;
  margin: 16px auto;
  max-height: 120px;
  width: auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-image {
  max-width: 100%;
  height: auto;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;   /* Espaciado entre botones */
  margin-top: 20px; /* Ajusta el margen superior según lo necesites */
}