<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Imagen centrada debajo del encabezado -->
  <div class="container text-center mt-4 d-flex justify-content-center align-items-center">
    <img src="assets/img/Logo cmpa 2.png" alt="Logo" class="img-fluid auto-image" />
  </div>

<div *ngIf="paso === 'ingresarRUT'">
    <ion-list class="ion-text-center">
      <ion-item>
        <ion-input 
          id="rutInput" 
          type="text" 
          label="Ingrese su RUT" 
          placeholder="Ej: 123456789"
          label-placement="floating" 
          fill="outline" 
          [(ngModel)]="rut" 
          required>
        </ion-input>
        <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
      <ion-item class="button-container">
        <ion-button (click)="buscarCorreoPorRUT()">Buscar</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="paso === 'confirmarCorreo'">
    <ion-list class="ion-text-center">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Hemos encontrado un correo asociado a este RUT:</p>
          <h2>{{ correoMascarado }}</h2>
          <p>¿Es este su correo electrónico?</p>
        </ion-label>
      </ion-item>
      <ion-item class="button-container">
        <ion-button fill="outline" color="danger" (click)="mostrarMensajeAdmin()">No</ion-button>
        <ion-button color="success" (click)="confirmarEnvio()">Sí, enviar enlace</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="paso === 'contactarAdmin'">
    <ion-list class="ion-text-center">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <p>Para recuperar su cuenta, por favor, póngase en contacto con el administrador del sistema.</p>
        </ion-label>
      </ion-item>
      <ion-item class="button-container">
        <ion-button fill="outline" (click)="volverAInicio()">Volver</ion-button>
      </ion-item>
    </ion-list>
  </div>

  <ion-item class="button-container ion-text-center">
    <ion-button fill="clear" (click)="goTohomePage()">Volver al Inicio</ion-button>
  </ion-item>
  
</ion-content>