<ion-app>
  <!-- MENÚ LATERAL -->
  <app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro Usuarios</ion-title>
      </ion-toolbar>
    </ion-header>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Registro de usuarios</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <div class="form-wrapper">
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-title class="text-center">
              <img src="assets/img/Logo cmpa 2.png"   alt="Logo" class="logo-image">
            </ion-title>
          </ion-row>

      <ion-row>

        <!-- RUT -->
       <ion-col size="12">
         <ion-item [class.ion-invalid]="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.touched || registroForm.get('rut')?.dirty)">
            <ion-label position="floating">RUT</ion-label>
                <ion-input formControlName="rut" type="text" placeholder="Ej: 12345678K"></ion-input>
          </ion-item>
                
          <div class="error-bubble" *ngIf="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.touched || registroForm.get('rut')?.dirty)">
             <small *ngIf="registroForm.get('rut')?.errors?.['required']">
                * El RUT es obligatorio.
             </small>
             <small *ngIf="registroForm.get('rut')?.errors?.['validarRut']">
                * RUT inválido. Revise el formato: 12345678k(RUT sin puntos ni guion).
             </small>
          </div>
        </ion-col>

        <!-- Nombre -->
        <ion-col size="12">
                <ion-item [class.ion-invalid]="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.touched || registroForm.get('nombre')?.dirty)">
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input formControlName="nombre" type="text"></ion-input>
                </ion-item>

                <div class="error-bubble" *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.touched || registroForm.get('nombre')?.dirty)">
                  <small *ngIf="registroForm.get('nombre')?.errors?.['required']">
                    * El nombre no puede estar vacío.
                  </small>
                  <small *ngIf="registroForm.get('nombre')?.errors?.['textoInvalido']">
                    * Solo se permiten letras (sin números ni símbolos).
                  </small>
                  <small *ngIf="registroForm.get('nombre')?.errors?.['muyCorto']">
                    * El nombre es muy corto (mínimo 3 letras).
                  </small>
                </div>
              </ion-col>

        <!-- Apellido Paterno -->
        <ion-col size="12">
                <ion-item [class.ion-invalid]="registroForm.get('apellidoPaterno')?.invalid && (registroForm.get('apellidoPaterno')?.touched || registroForm.get('apellidoPaterno')?.dirty)">
                  <ion-label position="floating">Apellido Paterno</ion-label>
                  <ion-input formControlName="apellidoPaterno" type="text"></ion-input>
                </ion-item>

                <div class="error-bubble" *ngIf="registroForm.get('apellidoPaterno')?.invalid && (registroForm.get('apellidoPaterno')?.touched || registroForm.get('apellidoPaterno')?.dirty)">
                  <small *ngIf="registroForm.get('apellidoPaterno')?.errors?.['required']">
                    * El apellido paterno es obligatorio.
                  </small>
                  <small *ngIf="registroForm.get('apellidoPaterno')?.errors?.['textoInvalido']">
                    * Solo se permiten letras.
                  </small>
                  <small *ngIf="registroForm.get('apellidoPaterno')?.errors?.['muyCorto']">
                    * Debe tener al menos 3 letras.
                  </small>
                </div>
              </ion-col>


        <!-- Apellido Materno -->
        <ion-col size="12">
                <ion-item [class.ion-invalid]="registroForm.get('apellidoMaterno')?.invalid && (registroForm.get('apellidoMaterno')?.touched || registroForm.get('apellidoMaterno')?.dirty)">
                  <ion-label position="floating">Apellido Materno</ion-label>
                  <ion-input formControlName="apellidoMaterno" type="text"></ion-input>
                </ion-item>

               <div class="error-bubble" *ngIf="registroForm.get('apellidoMaterno')?.invalid && (registroForm.get('apellidoMaterno')?.touched || registroForm.get('apellidoMaterno')?.dirty)">
                  <small *ngIf="registroForm.get('apellidoMaterno')?.errors?.['required']">
                    * El apellido materno es obligatorio.
                  </small>
                  <small *ngIf="registroForm.get('apellidoMaterno')?.errors?.['textoInvalido']">
                    * Solo se permiten letras.
                  </small>
                  <small *ngIf="registroForm.get('apellidoMaterno')?.errors?.['muyCorto']">
                    * Debe tener al menos 3 letras.
                  </small>
                </div>
              </ion-col>


        <!-- Correo -->
        <ion-col size="12">
                <ion-item [class.ion-invalid]="registroForm.get('correo')?.invalid && (registroForm.get('correo')?.touched || registroForm.get('correo')?.dirty)">
                  <ion-label position="floating">Correo Electrónico</ion-label>
                  <ion-input formControlName="correo" type="email" placeholder="nombre.apellido@cmpuentealto.cl"></ion-input>
                </ion-item>

                <div class="error-bubble" *ngIf="registroForm.get('correo')?.invalid && (registroForm.get('correo')?.touched || registroForm.get('correo')?.dirty)">
                  <small *ngIf="registroForm.get('correo')?.errors?.['required']">
                    * El correo es obligatorio.
                  </small>
                  <small *ngIf="registroForm.get('correo')?.errors?.['correoInvalido']">
                    * Formato inválido. Debe ser cmpuentealto.cl, gmail.com, etc.
                  </small>
                </div>
              </ion-col>

        <!-- Contraseña 

        <ion-col size="12">
          <ion-item [class.ion-invalid]="registroForm.get('contrasena')?.invalid && (registroForm.get('contrasena')?.dirty || registroForm.get('contrasena')?.touched)">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasena" type="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          
          <div class="error-bubble" *ngIf="registroForm.get('contrasena')?.invalid && (registroForm.get('contrasena')?.dirty || registroForm.get('contrasena')?.touched)">
                
                <small *ngIf="registroForm.get('contrasena')?.errors?.['required']">
                  * La contraseña es obligatoria.
                </small>

                <small *ngIf="registroForm.get('contrasena')?.errors?.['longitudIncorrecta']">
                  * La contraseña debe tener entre 8 y 12 caracteres.
                </small>

                <small *ngIf="registroForm.get('contrasena')?.errors?.['claveInsegura']">
                  * Debe contener: Mayúscula, minúscula, número y símbolo (!"#$%...).
                </small>

                <small *ngIf="!registroForm.get('contrasena')?.errors?.['required'] && 
                              !registroForm.get('contrasena')?.errors?.['longitudIncorrecta'] && 
                              !registroForm.get('contrasena')?.errors?.['claveInsegura']">
                  * El formato no es correcto.
                </small>

          </div>
        </ion-col>-->

        <!-- Cargo -->
        <ion-col size="12">
          <ion-item>
            <ion-label>Cargo</ion-label>
            <ion-select formControlName="cargo" (ionChange)="onCargoChange($event)">
              <ion-select-option value="adminSistema">Administrador del Sistema</ion-select-option>
              <ion-select-option value="its">ITS</ion-select-option>
              <ion-select-option value="solicitante">Solicitante</ion-select-option>
              <ion-select-option value="coordinador">Coordinador</ion-select-option>
              <!-- <ion-select-option value="conductor">Conductor</ion-select-option>-->
            </ion-select>
          </ion-item>
         <div class="error-bubble" *ngIf="registroForm.get('cargo')?.invalid && registroForm.get('cargo')?.touched">
            <small>* Debes seleccionar un cargo.</small>
         </div>
        </ion-col>

        <!-- Datos adicionales 
        <ion-col size="12" *ngIf="showConductorFields"> AQUI ACUERDATE DE AGREGAR AL CONDUCTOR EN FUTURAS ACTUALIZACIONES Y ADEMAS DE HACER EL onCargoChange.
          <ion-item>
            <ion-label position="floating">Licencia de Conducir</ion-label>
            <ion-input formControlName="licenciaConducir" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha de Vencimiento</ion-label>
            <ion-input formControlName="fechaVencimientoLicencia" type="date"></ion-input>
          </ion-item>
        </ion-col>-->

        <!-- Centros -->
        <ion-col size="12" *ngIf="showCoordinadorFields || showItsFields || showAdminSistemaFields || showSolicitanteFields">
          <ion-item>
            <ion-label>Área</ion-label>
              <ion-select formControlName="centro" (ionChange)="onCentroChange($event)" >
                <ion-select-option *ngFor="let centro of centrosPrincipales" [value]="centro.value">{{ centro.label }}</ion-select-option>             
            </ion-select>
          </ion-item>
          <div class="error-bubble" *ngIf="registroForm.get('centro')?.invalid && registroForm.get('centro')?.touched">
             <small>* Selecciona un centro válido.</small>
          </div>
        </ion-col>

          <!-- Centros de Salud -->
        <ion-col size="12" *ngIf="showSalud">
          <ion-item>
            <ion-label>Centro de salud</ion-label>
              <ion-select formControlName="centroSalud"  >
                <ion-select-option *ngFor="let est of establecimientosSalud" [value]="est.value">{{ est.label }}</ion-select-option>                        
              </ion-select>                          
          </ion-item>
          <div class="error-bubble" *ngIf="registroForm.get('establecimientoSalud')?.invalid && registroForm.get('establecimientoSalud')?.touched">
            <small>* Debes especificar el centro de salud.</small>
          </div>
        </ion-col>

        <ion-col size="12" *ngIf="showCoordinadorFields || showItsFields || showAdminSistemaFields || showSolicitanteFields">
          <ion-item>
            <ion-label position="floating">Unidad</ion-label>
            <ion-input formControlName="areaDesempeno" type="text"></ion-input>
          </ion-item>
          <div class="error-bubble" *ngIf="registroForm.get('areaDesempeno')?.invalid && (registroForm.get('areaDesempeno')?.touched || registroForm.get('areaDesempeno')?.dirty)">
                  <small *ngIf="registroForm.get('areaDesempeno')?.errors?.['required']">
                    * El área de desempeño es obligatoria.
                  </small>
                  <small *ngIf="registroForm.get('areaDesempeno')?.errors?.['textoInvalido']">
                    * Solo se permiten letras.
                  </small>
                  <small *ngIf="registroForm.get('areaDesempeno')?.errors?.['muyCorto']">
                    * Debe tener al menos 3 letras.
                  </small>
                </div>
        </ion-col>

        <!-- Botones -->
        <ion-col size="12" class="ion-padding-top">
          <ion-button fill="outline" type="submit" color="primary">Registrar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</div>
</ion-content>
