.custom-menu {
  --width: 260px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-header {
  background: linear-gradient(to right, #6a11cb, #2575fc); // Degradado morado-azul
  color: white;
  font-weight: bold;
  padding-left: 15px;
  border-top-right-radius: 20px;
}

ion-title {
  font-size: 1.2rem;
}

ion-item {
  --background: transparent;
  --color: #000;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

ion-item:hover {
  background: #f1f1f1;
}

ion-content {
  background: #fff;
  border-bottom-right-radius: 20px;
}
