<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>AGENDA MOVIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa 2.png"  alt="Logo" class="logo-image">
          </ion-col>
  <full-calendar [options]="calendarOptions"></full-calendar>

  <!--<ion-button fill="solid"  (click)="exportarCSV()" class="ion-margin">
    Exportar a CSV
  </ion-button> --> 

<ion-card>
  <ion-card-header>
    <ion-card-title>Exportar Reportes</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <ion-item>
  <ion-input 
    label="Fecha Desde" 
    type="date" 
    [value]="fechaInicioFiltro" 
    (ionChange)="fechaInicioFiltro = $event.detail.value ?? ''">
  </ion-input>
</ion-item>

<ion-item>
  <ion-input 
    label="Fecha Hasta" 
    type="date" 
    [value]="fechaFinFiltro" 
    (ionChange)="fechaFinFiltro = $event.detail.value ?? ''">
  </ion-input>
</ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="exportarPDFNormales()" color="tertiary">
            PDF Normales
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="exportarPDFMasivos()" color="dark">
            PDF Masivos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>
