  <app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

  <!-- encabezado-->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Carga de Viajes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <div class="form-wrapper">
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa.png"  alt="Logo" class="logo-image">
          </ion-col>
        </ion-row>
        <ion-col size="12" class="text-center">
          <h3>Bienvenido a la Planificacion de viajes masivos, 
            en esta seccion realizaremos nuestra cargar de viajes
            de forma semanal, por favor complete los campos requeridos.
            </h3> 
        </ion-col>
        

        
        <!-- DEMÁS CAMPOS -->
        <ion-row>
          <ion-col size="12">
    
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha</ion-label>
              <ion-input type="date" formControlName="fecha"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Rango Horario </ion-label>
              <ion-input type="time" formControlName="hora"></ion-input>
            </ion-item>
          </ion-col>
       
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Cantida de Ocupantes</ion-label>
              <ion-input type="number" formControlName="ocupantes" [max]="maxOcupantes"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Motivo</ion-label>
              <ion-input formControlName="motivo"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Responsable</ion-label>
              <ion-input formControlName="ocupante"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="primary" type="submit">Solicitar Viaje</ion-button>
          </ion-col>
        </ion-row>
      
      </ion-grid>
    </form>
    </div>
  </ion-content>
