  <app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

  <!-- encabezado-->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Solicitud de Viajes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <div class="form-wrapper">
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa.png"  alt="Logo" class="logo-image">
          </ion-col>
        </ion-row>
        <ion-col size="12" class="text-center">
          <h3>Bienvenido a la solicitud de viaje, en esta seccion realizaremos nuestra solicitud de viaje
            en la pestaña inferior donde dice "Destino" ud debe indicar si es un viaje dentro de uno de nuestros centros 
            si es a si debe seleccionar uno para indicar donde se dirige, de lo contrario debe
            seleccionar "Otros" e ingresar la direccion donde ud desea ir.
          </h3>
        </ion-col>
        

            <!-- Punto de Salida -->
           <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-label>Punto de Salida</ion-label>
                <ion-select formControlName="puntoSalida" (ionChange)="onSalidaChange($event)" placeholder="Seleccione una salida">
                  <ion-select-option value="1">Nivel Central</ion-select-option>
                  <ion-select-option value="2">Salud</ion-select-option>
                  <ion-select-option value="3">Educación</ion-select-option>
                  <ion-select-option value="4">Atención a Menores (ATM)</ion-select-option>
                  <ion-select-option value="5">Otro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          <ion-col size="12" *ngIf="showOtroSalida">
            <ion-item>
              <ion-label position="floating">Dirección Salida</ion-label>
              <ion-input type="text" formControlName="direccionSalida"></ion-input>
               <small *ngIf="registroForm.get('nombre')?.errors?.['textoInvalido']">debe ingresar solamente letras</small>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showSaludSalida">
            <ion-item>
              <ion-label>Centro Salud (Salida)</ion-label>
              <ion-select formControlName="centroSaludSalida">
                <ion-select-option *ngFor="let est of establecimientosSaludSalida" [value]="est.label">{{ est.label }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showEducacionSalida">
            <ion-item>
              <ion-label>Centro Educación (Salida)</ion-label>
              <ion-select formControlName="centroEducacionSalida">
                <ion-select-option *ngFor="let est of establecimientosEducacionSalida" [value]="est.label">{{ est.label }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showAtmSalida">
            <ion-item>
              <ion-label>Atención Menores (Salida)</ion-label>
              <ion-select formControlName="centroAtmSalida">
                <ion-select-option *ngFor="let est of establecimientosAtmSalida" [value]="est.label">{{ est.label }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- DESTINO -->
        <ion-row>
          <ion-col size="12">
              <ion-item>
                <ion-label>Punto de Destino</ion-label>
                <ion-select formControlName="puntoDestino" (ionChange)="onDestinoChange($event)" placeholder="Seleccione un destino">
                    <ion-select-option value="1">Nivel Central</ion-select-option>
                    <ion-select-option value="2">Salud</ion-select-option>
                    <ion-select-option value="3">Educación</ion-select-option>
                    <ion-select-option value="4">Atención a Menores (ATM)</ion-select-option>
                    <ion-select-option value="5">Otro</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          <ion-col size="12" *ngIf="showOtroDestino">
            <ion-item>
              <ion-label position="floating">Dirección Destino</ion-label>
              <ion-input type="text"  formControlName="direccionDestino"></ion-input>
             <small *ngIf="registroForm.get('nombre')?.errors?.['textoInvalido']">debe ingresar solamente letras</small>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showSaludDestino">
            <ion-item>
              <ion-label>Centro Salud (Destino)</ion-label>
              <ion-select formControlName="centroSaludDestino">
                <ion-select-option *ngFor="let est of establecimientosSaludDestino" [value]="est.label">{{ est.label }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showEducacionDestino">
            <ion-item>
              <ion-label>Centro Educación (Destino)</ion-label>
              <ion-select formControlName="centroEducacionDestino">
                <ion-select-option *ngFor="let est of establecimientosEducacionDestino" [value]="est.label">{{ est.label }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showAtmDestino">
            <ion-item>
              <ion-select formControlName="centroAtmDestino">
              <ion-label>Atención Menores (Destino)</ion-label>
              <ion-select-option *ngFor="let est of establecimientosAtmDestino" [value]="est.label">{{ est.label }}</ion-select-option> 
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12" *ngIf="showOtroDestino">
            <ion-item>
              <ion-label>Dentro de la comuna?</ion-label>
              <ion-toggle disabled="false"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- DEMÁS CAMPOS -->
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Fecha</ion-label>
              <ion-input type="date" formControlName="fecha"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Hora</ion-label>
              <ion-input type="time" formControlName="hora"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Tiempo Uso</ion-label>
              <ion-input type= "number" formControlName="tiempoUso"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>Necesitsa carga?</ion-label>
              <ion-toggle  formControlName="necesitaCarga" ></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>Tipo Vehículo</ion-label>
              <ion-select formControlName="tipoVehiculo" (ionChange)="actualizarMaxOcupantes($event.detail.value)">
                <ion-select-option *ngFor="let a of auto.vehiculo" [value]="a.value">{{a.label}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                  <ion-select formControlName="programa" label="Programa(s) Asignado(s)" label-placement="stacked" [multiple]="true">
                    <ion-select-option *ngFor="let p of programa.prog" [value]="p.value">{{p.label}}</ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Ocupantes</ion-label>
              <ion-input type="number" formControlName="ocupantes" [max]="maxOcupantes"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Motivo/Justificacion</ion-label>
              <ion-input type="text" formControlName="motivo"></ion-input>
               <small *ngIf="registroForm.get('nombre')?.errors?.['textoInvalido']">debe ingresar solamente letras</small>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Responsable</ion-label>
              <ion-input type="text" formControlName="ocupante"></ion-input>
               <small *ngIf="registroForm.get('nombre')?.errors?.['textoInvalido']">debe ingresar solamente letras</small>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="primary" type="submit">Solicitar Viaje</ion-button>
          </ion-col>
        </ion-row>
      
      </ion-grid>
    </form>
    </div>
  </ion-content>
