<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Bitacora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa 2.png"  alt="Logo" class="logo-image">
          </ion-col>

<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-input 
            label="Patente" 
            label-placement="stacked" 
            placeholder="AABB22"
            [(ngModel)]="filtros.patente">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-select label="Centro" label-placement="stacked" (ionChange)="onCentroChange($event)" interface="popover">
            <ion-select-option *ngFor="let centro of centrosPrincipales" [value]="centro.value">{{ centro.label }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="showSalud">
          <ion-select [(ngModel)]="filtros.centro" label="Establecimiento de Salud" label-placement="stacked" interface="popover">
            <ion-select-option *ngFor="let est of establecimientosSalud" [value]="est.label">{{ est.label }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="showEducacion">
          <ion-select [(ngModel)]="filtros.centro" label="Establecimiento de Educación" label-placement="stacked" interface="popover">
            <ion-select-option *ngFor="let est of establecimientosEducacion" [value]="est.label">{{ est.label }}</ion-select-option>
          </ion-select>
        </ion-item>
         <ion-item *ngIf="showAtm">
          <ion-select [(ngModel)]="filtros.centro" label="Establecimiento ATM" label-placement="stacked" interface="popover">
            <ion-select-option *ngFor="let est of establecimientosAtm" [value]="est.label">{{ est.label }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-input 
            label="Proveedor" 
            label-placement="stacked" 
            placeholder="Movilizacion"
            [(ngModel)]="filtros.proveedor">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-select [(ngModel)]="filtros.programa" label="Programa" label-placement="stacked" interface="popover">
            <ion-select-option *ngFor="let p of programas" [value]="p.label">{{ p.label }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-input 
            label="Fecha Inicio" 
            label-placement="stacked" 
            type="date"
            [(ngModel)]="filtros.fechaInicio">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-input 
            label="Fecha Fin" 
            label-placement="stacked" 
            type="date"
            [(ngModel)]="filtros.fechaFin">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="3">
        <ion-item>
          <ion-select [(ngModel)]="filtros.Movimiento" label="Tipo de Movimiento" label-placement="stacked" interface="popover">
            <ion-select-option value="SinMovmiento">Sin Movimiento</ion-select-option>
            <ion-select-option value="ConMovimiento">Movilizado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-right ion-padding-top">
    <ion-button fill="outline" color="medium" (click)="limpiarFiltros()">Limpiar</ion-button>
    <ion-button (click)="buscarReporte()" class="ion-margin-start">Generar Reporte</ion-button>
  </div>
</ion-card-content>
  

<ng-container *ngIf="!reporteActivo">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dashboard de Uso de Vehículos</ion-card-title>
      <ion-card-subtitle>Datos generales de la bitácora</ion-card-subtitle>
      </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header><ion-card-title>Centros que más usan vehículos</ion-card-title></ion-card-header>
              <ion-card-content>
                <div style="height: 300px;">
                <div *ngIf="centrosChartData">
                  <canvas baseChart [data]="centrosChartData" [options]="barChartOptions" type="bar"></canvas>
                </div>
              </div>  
              <ion-button (click)="exportarDashboard()" fill="clear" size="medium" slot="end">Exportar pdf
                <ion-icon name="download-outline" slot="icon-only"></ion-icon>
              </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header><ion-card-title>Vehículos más utilizados</ion-card-title></ion-card-header>
              <ion-card-content>
                <div style="height: 300px;">
                <div *ngIf="vehiculosChartData">
                  <canvas baseChart [data]="vehiculosChartData" [options]="pieChartOptions" type="pie"></canvas>
                </div>
                </div>
                <ion-button (click)="exportarDashboard()" fill="clear" size="medium" slot="end">Exportar pdf
                <ion-icon name="download-outline" slot="icon-only"></ion-icon>
              </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header><ion-card-title>Programa con mayor uso</ion-card-title></ion-card-header>
              <ion-card-content>
                <div style="height: 300px;">
                <div *ngIf="programasChartData">
                  <canvas baseChart [data]="programasChartData" [options]="barChartOptions" type="bar"></canvas>
                </div>
                </div>
                <ion-button (click)="exportarDashboard()" fill="clear" size="medium" slot="end">Exportar pdf
                <ion-icon name="download-outline" slot="icon-only"></ion-icon>
              </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-card>
              <ion-card-header><ion-card-title>Usuarios que más solicitan</ion-card-title></ion-card-header>
              <ion-card-content>
                <div style="height: 300px;">
                <div *ngIf="usuariosChartData">
                  <canvas baseChart [data]="usuariosChartData" [options]="pieChartOptions" type="pie"></canvas>
                </div>
                </div>
                <ion-button  (click)="exportarDashboard()" fill="clear" size="medium" slot="end">exportar pdf
                <ion-icon  name="download-outline" slot="icon-only"></ion-icon>
              </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-container>

  <ng-container *ngIf="reporteActivo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultados del Reporte</ion-card-title>
        <ion-card-subtitle>
          <ion-button size="small" (click)="exportarReporte()" fill="clear" color="primary">
            <ion-icon name="download-outline" slot="start"></ion-icon>
            Exportar
          </ion-button>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid class="ion-padding-bottom">
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-item lines="none">
                <ion-label>Total de Viajes:</ion-label>
                <ion-text slot="end"><b>{{ resumenReporte.totalViajesRealizados }}</b></ion-text>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="3">
              <ion-item lines="none">
                <ion-label>Total Centros Visitados:</ion-label>
                <ion-text slot="end"><b>{{ resumenReporte.totalCentrosVisitados }}</b></ion-text>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="filtros.proveedor" size="12" size-md="6" size-lg="3">
              <ion-item lines="none">
                <ion-label>Vehículos del Proveedor:</ion-label>
                <ion-text slot="end"><b>{{ resumenReporte.vehiculosPorProveedor }}</b></ion-text>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="filtros.centro" size="12" size-md="6" size-lg="3">
              <ion-item lines="none">
                <ion-label>Vehículos del Centro:</ion-label>
                <ion-text slot="end"><b>{{ resumenReporte.vehiculosPorCentro }}</b></ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list *ngIf="reporteResultados.length > 0">

          <ion-item-divider color="light">
            <ion-label>
                {{ filtros.Movimiento === 'SinMovmiento' ? 'Vehículos Sin Uso en el Periodo' : 'Detalle de Viajes' }}
            </ion-label>
          </ion-item-divider>

          <ng-container *ngIf="filtros.Movimiento !== 'SinMovmiento'">
              <ion-item *ngFor="let resultado of reporteResultados">
                <ion-label>
                  <h2>
                      <ion-badge [color]="resultado.tipo_origen === 'Masivo' ? 'tertiary' : 'success'" slot="end" class="ion-margin-end">
                          {{ resultado.tipo_origen }}
                      </ion-badge>
                      Viaje N°{{ resultado.id_viaje }} 
                      ({{ resultado.fecha_viaje | date:'dd/MM' }} - {{ resultado.hora_inicio }})
                  </h2>
                  <p>Vehículo: <b>{{ resultado.vehiculo_patente || 'N/A' }}</b></p>
                  <p>Conductor: {{ resultado.nombre_conductor || 'N/A' }}</p>
                  <p>Centro: {{ resultado.punto_destino }} | Programa: {{ resultado.nombre_programa }}</p> 
                  <p>Estado: <ion-text [color]="resultado.estado === 'finalizado' ? 'success' : 'danger'">{{ resultado.estado | titlecase }}</ion-text></p>
                </ion-label>
              </ion-item>
          </ng-container>

          <ng-container *ngIf="filtros.Movimiento === 'SinMovmiento'">
              <ion-item *ngFor="let vehiculo of reporteResultados">
                  <ion-icon name="warning-outline" slot="start" color="warning"></ion-icon>
                  <ion-label>
                      <h2>Patente: <b>{{ vehiculo.vehiculo_patente }}</b></h2>
                      <h3>{{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
                      <p>Conductor: {{ vehiculo.nombre_conductor || 'Sin asignar' }}</p>
                      <p>Proveedor: {{ vehiculo.nombre_proveedor || 'N/A' }}</p>
                      
                      <ion-text color="danger">
                        <p style="font-weight: bold; font-size: 1.1em;">
                           Inactivo por {{ diasInactivosReporte }} días
                        </p>
                      </ion-text>
                  </ion-label>
              </ion-item>
          </ng-container>

          <ion-item-divider color="light">
            <ion-label>Detalle de Viajes</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let resultado of reporteResultados">
            <ion-label>
              <h2>Viaje N°{{ resultado.id_viaje }} 
                Solicitado Con Fecha {{ resultado.fecha_viaje | date:'shortDate' }} - {{ resultado.hora_inicio }}</h2>
              <p>Vehículo: {{ resultado.vehiculo_patente || 'N/A' }}</p>
              <p>Conductor: {{ resultado.nombre_conductor || 'N/A' }}</p>
              <p>Centro: {{ resultado.punto_destino }} | Programa: {{ resultado.nombre_programa }}</p>

              <!--<p>Km Salida: {{ resultado.kilometro_salida }} | Km Llegada: {{ resultado.kilometro_llegada }}</p> 
              implementar en una segunda fase con un perfil conductor con donde tengamos un dometro para medir los kilometros
              no altiro porque no se sabe que vola-->
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="reporteResultados.length === 0">
          <ion-label class="ion-text-center">No se encontraron resultados para los filtros aplicados.</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
