.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

ion-col[size="12"] {
  padding-left: 4px;
  padding-right: 4px;
}

.logo-image {
  display: block;
  margin: 16px auto;
  max-height: 120px;
  width: auto;
}

@media (min-width: 576px) {
  .logo-image {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .logo-image {
    width: 220px;
  }
}

@media (min-width: 992px) {
  .logo-image {
    width: 250px;
  }
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auto-image {
    max-width: 100%; /* O un valor específico en píxeles como 500px */
    height: auto;
    object-fit: contain;
    display: block; /* Evita un pequeño espacio debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   /* Espaciado entre botones */
    margin-top: 20px; /* Ajusta el margen superior según lo necesites */
  }
  .date-button-container {
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   /* Espaciado entre botones */
    margin-top: 20px; /* Ajusta el margen superior según lo necesites */
  }
  
  ion-menu::part(backdrop) {
    background-color: rgba(0, 60, 255, 0.644);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(0, 68, 255, 0.733);
  }
  
  ion-item.ion-invalid.ion-touched {
  --highlight-color: var(--ion-color-danger);
}

/* Pone el color del label en rojo */
ion-item.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}
.error-bubble {
  position: relative;
  background: var(--ion-color-danger); // Color rojo
  color: white;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 15px; /* Espacio para que la flecha no toque el input */
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Sombra suave
  width: fit-content; // La burbuja se ajusta al tamaño del texto
  max-width: 90%;
  
  // Animación de entrada (opcional, para que haga "pop")
  animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  // La flecha de la burbuja apuntando hacia arriba
  &::after {
    content: '';
    position: absolute;
    bottom: 100%; // Se ubica justo encima de la burbuja
    left: 20px;   // A 20px desde la izquierda
    border-width: 10px;
    border-style: solid;
    // El truco CSS: Bordes transparentes excepto el de abajo que es rojo
    border-color: transparent transparent var(--ion-color-danger) transparent;
  }

  small {
    display: block;
    line-height: 1.3;
  }
}

// Animación simple
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-5px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}