<app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
      <ion-title>Registro de Vehículo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="text-center">
            <img src="assets/img/Logo cmpa 2.png" alt="Logo" class="logo-image">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">

            <!-- Card para el Encargado del Vehículo -->
           <ion-card>
              <ion-card-header><ion-card-title>Datos del Proveedor</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-input label="Nombre Encargado" label-placement="stacked" formControlName="nombreEncVehiculo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Apellido Enc." label-placement="stacked" formControlName="apellidoEncVehiculo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="RUT Encargado" label-placement="stacked" formControlName="rutEncVehiculo" placeholder="12345678-9"></ion-input>
                </ion-item>
              </ion-card-content>
            </ion-card>

            <!-- Card para los Datos del Vehículo -->
            <ion-card>
              <ion-card-header><ion-card-title>Datos del Vehículo</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-input label="Patente" label-placement="stacked" formControlName="patente" placeholder="ABCD12"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Marca" label-placement="stacked" formControlName="marca"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Modelo" label-placement="stacked" formControlName="modelo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-select formControlName="tipoVehiculo" label="Tipo de Vehículo" label-placement="stacked">
                    <ion-select-option *ngFor="let item of auto.vehiculo" [value]="item.value">{{ item.label }}</ion-select-option>
                  </ion-select>
                </ion-item>
                  <ion-item>
                  <ion-toggle formControlName="capacidad" justify="space-between">¿Tiene capacidad de carga?</ion-toggle>
                </ion-item>
                  <ion-item>
                  <ion-label>Año del Vehículo</ion-label>
                  <div slot="end" class="date-button-container">
                    <ion-text>{{ registroForm.get('anoVehiculo')?.value ? (registroForm.get('anoVehiculo')?.value | date:'yyyy') : 'Seleccionar' }}</ion-text>
                    <ion-button fill="clear" (click)="isAnoPickerOpen = true">
                      <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>
              </ion-card-content>
            </ion-card>

            <!-- Card para Asignaciones -->
            <ion-card>
              <ion-card-header><ion-card-title>Asignación y Documentación</ion-card-title></ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-input label="Conductor Titular" label-placement="stacked" formControlName="conductorTitular"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Conductor Reemplazo" label-placement="stacked" formControlName="conductorReemplazo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-select formControlName="programa" label="Programa(s) Asignado(s)" label-placement="stacked" [multiple]="true">
                    <ion-select-option *ngFor="let p of programa.prog" [value]="p.value">{{p.label}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-select formControlName="centro" label="Centro Principal" label-placement="stacked" (ionChange)="onCentroChange($event)">
                    <ion-select-option *ngFor="let centro of centrosPrincipales" [value]="centro.value">{{ centro.label }}</ion-select-option>
                  </ion-select>
                </ion-item>
                
                <div *ngIf="showSalud">
                  <ion-item><ion-select formControlName="centroSalud1" label="Centro de Salud 1" label-placement="stacked">
                    <ion-select-option *ngFor="let est of establecimientosSalud" [value]="est.value">{{ est.label }}</ion-select-option>
                  </ion-select></ion-item>
                  <ion-item><ion-select formControlName="centroSalud2" label="Centro de Salud 2 (Opcional)" label-placement="stacked">
                   <ion-select-option *ngFor="let est of establecimientosSalud" [value]="est.value">{{ est.label }}</ion-select-option>
                  </ion-select></ion-item>
                </div>
                <div *ngIf="showEducacion">
                  <ion-item><ion-select formControlName="centroEducacion" label="Centro de Educación" label-placement="stacked">
                    <ion-select-option *ngFor="let est of establecimientosEducacion" [value]="est.value">{{ est.label }}</ion-select-option>
                  </ion-select></ion-item>
                </div>
                <div *ngIf="showAtm">
                  <ion-item><ion-select formControlName="centroAtm" label="Centro Atención a Menores" label-placement="stacked">
                    <ion-select-option *ngFor="let est of establecimientosAtm" [value]="est.value">{{ est.label }}</ion-select-option>
                  </ion-select></ion-item>
                </div>

                <ion-item>
                  <ion-input label="N° de Contrato" label-placement="stacked" formControlName="contrato"></ion-input>
                </ion-item>
                <!--
                <ion-item>
                  <ion-input label="N° de horas" label-placement="stacked" formControlName="numHoras"></ion-input>
                </ion-item> futura actualizacion por contrato -->

                  <ion-item>
                  <ion-label>Vencimiento Revisión Técnica</ion-label>
                  <div slot="end" class="date-button-container">
                    <ion-text>{{ registroForm.get('fechaRevision')?.value | date:'dd/MM/yyyy' }}</ion-text>
                    <ion-button fill="clear" (click)="isRevPickerOpen = true">
                      <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>
                
                <ion-item>
                  <ion-label>Vencimiento Permiso Circulacion</ion-label>
                  <div slot="end" class="date-button-container">
                    <ion-text>{{ registroForm.get('permisoCirculacion')?.value | date:'dd/MM/yyyy' }}</ion-text>
                    <ion-button fill="clear" (click)="isPermisoPickerOpen = true">
                      <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>

                <ion-item>
                  <ion-label>Vencimiento Seguro Obligatorio</ion-label>
                  <div slot="end" class="date-button-container">
                    <ion-text>{{ registroForm.get('seguroObligatorio')?.value | date:'dd/MM/yyyy' }}</ion-text>
                    <ion-button fill="clear" (click)="isSeguroPickerOpen = true">
                      <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-item>
              </ion-card-content>
            </ion-card>

            <ion-button expand="block" color="primary" type="submit" [disabled]="!registroForm.valid" class="ion-margin-top">
              Registrar Vehículo
            </ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>


    <ion-modal [isOpen]="isAnoPickerOpen" (didDismiss)="isAnoPickerOpen = false">
      <ng-template>
        <ion-datetime
          presentation="year"
          (ionChange)="onDateChange($event, 'anoVehiculo', 'ano')">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isRevPickerOpen" (didDismiss)="isRevPickerOpen = false">
      <ng-template>
        <ion-datetime
          presentation="date"
          (ionChange)="onDateChange($event, 'fechaRevision', 'rev')">
        </ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="isRevPickerOpen" (didDismiss)="isRevPickerOpen = false">
      <ng-template>
        <ion-datetime
          presentation="date"
          (ionChange)="onDateChange($event, 'fechaRevision', 'rev')">
        </ion-datetime>
      </ng-template>
    </ion-modal>

<ion-modal [isOpen]="isPermisoPickerOpen" (didDismiss)="isPermisoPickerOpen = false">
      <ng-template>
        <ion-datetime
          presentation="date"
          (ionChange)="onDateChange($event, 'permisoCirculacion', 'permiso')">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="isSeguroPickerOpen" (didDismiss)="isSeguroPickerOpen = false">
      <ng-template>
        <ion-datetime
          presentation="date"
          (ionChange)="onDateChange($event, 'seguroObligatorio', 'seguro')">
        </ion-datetime>
      </ng-template>
    </ion-modal>
    
  </ion-content>
</div>
