<ion-app>
  <app-menu-lateral [rol]="rolUsuario"></app-menu-lateral>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Gestión</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <div class="form-wrapper">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-title class="text-center">
              <img src="assets/img/Logo cmpa 2.png"  alt="Logo" class="logo-image">
            </ion-title>
          </ion-row>
        </ion-grid>

        <!-- Tipo de búsqueda -->
      <ion-item>
          <ion-select [(ngModel)]="tipoBusqueda" label="Tipo de Gestión" label-placement="stacked">
            <ion-select-option value="usuario">Usuarios</ion-select-option>
            <ion-select-option value="vehiculo">Vehículos</ion-select-option>
          </ion-select>
        </ion-item>

     <ng-container *ngIf="tipoBusqueda === 'usuario'">
  <ion-searchbar [(ngModel)]="terminoBusqueda" (ionInput)="filtrarUsuarios()" placeholder="Buscar por RUT o Nombre"></ion-searchbar>
  <ion-list>
    
    <ion-item *ngFor="let user of usuariosFiltrados">
      
      <ion-label *ngIf="usuarioEditandoRut !== user.rut">
        <h2>{{ user.nombre }} {{ user.apellido_paterno }}</h2>
        <p>RUT: {{ user.rut }} | Rol: {{ user.rol }}</p>
        <p>Correo: {{ user.correo }}</p>
        <p>Área: {{ user.area }} | Estab: {{ user.establecimiento }}</p>
        <p>Estado: 
          <ion-text [color]="user.activo === 'si' ? 'success' : 'danger'">
            <b>{{ user.activo === 'si' ? 'Activo' : 'Inactivo' }}</b>
          </ion-text>
        </p>
        <p *ngIf="user.bloqueado === 'si'">
          <ion-text color="danger"><b>CUENTA BLOQUEADA</b></ion-text>
        </p>
      </ion-label>

      <div *ngIf="usuarioEditandoRut === user.rut" class="edit-form">
        <ion-item>
          <ion-input label="Nombre" label-placement="floating" [value]="user.nombre" (ionInput)="user.nombre = $event.target.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Área" label-placement="floating" [value]="user.area" (ionInput)="user.area = $event.target.value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Rol" label-placement="stacked" [value]="user.rol" (ionChange)="user.rol = $event.detail.value">
            <ion-select-option value="adminSistema">Administrador</ion-select-option>
            <ion-select-option value="solicitante">Solicitante</ion-select-option>
            <ion-select-option value="coordinador">Coordinador</ion-select-option>
            <ion-select-option value="conductor">Conductor</ion-select-option>
            <ion-select-option value="its">ITS</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="Establecimiento" label-placement="stacked" [value]="user.ESTABLECIMIENTO_idEstablecimiento" (ionChange)="user.ESTABLECIMIENTO_idEstablecimiento = $event.detail.value">
            <ion-select-option *ngFor="let est of establecimientos" [value]="est.idEstablecimiento">
              {{ est.nombre_establecimiento }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div slot="end" class="button-group">

        <ion-button *ngIf="user.bloqueado === 'si'" fill="clear" color="warning" (click)="desbloquearUsuario(user)">
          <ion-icon name="key-outline"></ion-icon>
        </ion-button>

        <ng-container *ngIf="usuarioEditandoRut !== user.rut">
          <ion-button fill="clear" (click)="editarUsuario(user)"><ion-icon name="create-outline"></ion-icon></ion-button>
          <ion-button fill="clear" [color]="user.activo === 'si' ? 'danger' : 'success'" (click)="cambiarEstadoUsuario(user)">
            <ion-icon [name]="user.activo === 'si' ? 'trash-outline' : 'checkmark-circle-outline'"></ion-icon>
          </ion-button>
        </ng-container>
        
        <ng-container *ngIf="usuarioEditandoRut === user.rut">
          <ion-button fill="clear" color="success" (click)="guardarUsuario(user)"><ion-icon name="save-outline"></ion-icon></ion-button>
          <ion-button fill="clear" color="medium" (click)="cancelarEdicionUsuario()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
        </ng-container>
      </div>
    </ion-item>
  </ion-list>
</ng-container>

          <ng-container *ngIf="tipoBusqueda === 'vehiculo'">
      <ion-searchbar [(ngModel)]="criterioBusqueda" (ionInput)="filtrarVehiculos()" placeholder="Buscar por Patente"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let v of vehiculosFiltrados" class="item-vehiculo">
          
          <ion-label *ngIf="vehiculoEditandoPatente !== v.patente">
            <h2>{{ v.marca }} {{ v.modelo }} ({{ v.ano }}) - <b>{{ v.patente }}</b></h2>
            <p><b>Conductor:</b> {{ v.nombre_conductor }}</p>
            <p><b>Tipo:</b> {{ v.tipoVehiculo }} | <b>Capacidad:</b> {{ v.capacidad ? 'Sí' : 'No' }}</p>
            <p><b>Proveedor:</b> {{ v.responsable || 'N/A' }}</p>
            <p><b>Estado:</b> <ion-text [color]="v.activo === 'si' ? 'success' : 'danger'"><b>{{ v.activo === 'si' ? 'Activo' : 'Inactivo' }}</b></ion-text></p>
            
            <ion-item lines="none" class="info-item">
              <p><b>Rev. Técnica:</b> {{ v.revision_tecnica | date:'dd/MM/yyyy' }}</p>
              <p><b>Permiso Circ.:</b> {{ v.permiso_circulacion | date:'dd/MM/yyyy' }}</p>
              <p><b>Seg Oblig.:</b> {{ v.seguro_obligatorio | date:'dd/MM/yyyy' }}</p>
              <p><b>Venc. Contrato:</b> {{ v.fecha_contrato | date:'dd/MM/yyyy' }}</p>
            </ion-item>
            
            <div *ngIf="v.necesita_reemplazo === 'si'" class="reemplazo-info">
              <p><b>REQUIERE REEMPLAZO</b></p>
              <p><b>Fecha Reemplazo:</b> {{ v.fecha_reemplazo | date:'dd/MM/yyyy' }}</p>
              <p><b>Rev. Téc. Reemplazo:</b> {{ v.revision_tecnica_reemplazo | date:'dd/MM/yyyy' }}</p>
              <p><b>Marca Reemplazo:</b> {{ v.marca_reemplazo }} | <b>Modelo Reemplazo:</b> {{ v.modelo_reemplazo }} | <b>Año Reemplazo:</b> {{ v.ano_reemplazo }} | <b>Capacidad Reemplazo:</b> {{ v.capacidad_reemplazo ? 'Sí' : 'No' }}</p>
              <p><b>Justificación:</b> {{ v.justificacion_reemplazo }}</p>
              <p><b>Patente Reemplazo:</b> {{ v.patente_reemplazo }} | <b>Conductor:</b> {{ v.nombre_conductor_reemplazo }}</p>
              <p><b>Autorización Reemplazo:</b> {{ v.autorizacion_reemplazo }}</p>
              <p><b>Permiso Circ. Reemplazo:</b> {{ v.permiso_circulacion_reemplazo | date:'dd/MM/yyyy' }}</p>
              <p><b>Seg Oblig. Reemplazo:</b> {{ v.seguro_obligatorio_reemplazo | date:'dd/MM/yyyy' }}</p>
              <p><b>Venc. Contrato Reemplazo:</b> {{ v.fecha_reemplazoFin | date:'dd/MM/yyyy' }}</p>

            </div>
          </ion-label>

          <div *ngIf="vehiculoEditandoPatente === v.patente" class="edit-form">
            <h2>{{ v.marca }} {{ v.modelo }} ({{ v.ano }}) - <b>{{ v.patente }}</b></h2>
            <p><b>Conductor:</b> {{ v.nombre_conductor }}</p>
            <p><b>Proveedor:</b> {{ v.responsable || 'N/A' }}</p>
            
            <ion-item>
              <ion-input label="Revisión Técnica" label-placement="stacked" type="date"
                [value]="v.revision_tecnica | date:'yyyy-MM-dd'" 
                (ionInput)="v.revision_tecnica = $event.target.value">
              </ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input label="Permiso Circulación" label-placement="stacked" type="date"
                [value]="v.permiso_circulacion | date:'yyyy-MM-dd'" 
                (ionInput)="v.permiso_circulacion = $event.target.value">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Seguro Obligatorio" label-placement="stacked" type="date"
                [value]="v.seguro_obligatorio | date:'yyyy-MM-dd'" 
                (ionInput)="v.seguro_obligatorio = $event.target.value">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-toggle [checked]="v.necesita_reemplazo === 'si'" (ionChange)="v.necesita_reemplazo = $event.detail.checked ? 'si' : 'no'">
                Requiere Reemplazo
              </ion-toggle>
            </ion-item>

            <ng-container *ngIf="v.necesita_reemplazo === 'si'">
              <ion-item>
                <ion-input label="Conductor Reemplazo" label-placement="stacked" [value]="v.nombre_conductor_reemplazo" (ionInput)="v.nombre_conductor_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Patente Reemplazo" label-placement="stacked" [value]="v.patente_reemplazo" (ionInput)="v.patente_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Marca Reemplazo" label-placement="stacked" [value]="v.marca_reemplazo" (ionInput)="v.marca_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Modelo Reemplazo" label-placement="stacked" [value]="v.modelo_reemplazo" (ionInput)="v.modelo_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Año Reemplazo" label-placement="stacked" type="number" [value]="v.ano_reemplazo" (ionInput)="v.ano_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-toggle [checked]="v.capacidad_reemplazo == 1" (ionChange)="v.capacidad_reemplazo = $event.detail.checked ? 1 : 0" label="Capacidad Reemplazo"> Capacidad Reemplazo</ion-toggle>
                <!--<ion-input label="Capacidad Reemplazo" label-placement="stacked" type="toggle" [value]="v.capacidad_reemplazo" (ionInput)="v.capacidad_reemplazo = $event.target.value"></ion-input>-->
              </ion-item>
              <ion-item>
                <ion-input label="Fecha Reemplazo" label-placement="stacked" type="date" [value]="v.fecha_reemplazo | date:'yyyy-MM-dd'" (ionInput)="v.fecha_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Fecha Termino de Reemplazo" label-placement="stacked" type="date" [value]="v.fecha_reemplazoFin | date:'yyyy-MM-dd'" (ionInput)="v.fecha_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Rev. Téc. Reemplazo" label-placement="stacked" type="date" [value]="v.revision_tecnica_reemplazo | date:'yyyy-MM-dd'" (ionInput)="v.revision_tecnica_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Permiso Circ. Reemplazo" label-placement="stacked" type="date" [value]="v.permiso_circulacion_reemplazo | date:'yyyy-MM-dd'" (ionInput)="v.permiso_circulacion_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Seguro Oblig. Reemplazo" label-placement="stacked" type="date" [value]="v.seguro_obligatorio_reemplazo | date:'yyyy-MM-dd'" (ionInput)="v.seguro_obligatorio_reemplazo = $event.target.value"></ion-input>
              </ion-item>
              <ion-item>
                <ion-textarea label="Justificación Reemplazo" label-placement="stacked" [value]="v.justificacion_reemplazo" (ionInput)="v.justificacion_reemplazo = $event.target.value"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-textarea label="Autorización Reemplazo" label-placement="stacked" [value]="v.autorizacion_reemplazo" (ionInput)="v.autorizacion_reemplazo = $event.target.value"></ion-textarea>
              </ion-item>
            </ng-container>
          </div>

          <div slot="end" class="button-group">
            <ng-container *ngIf="vehiculoEditandoPatente !== v.patente">
              <ion-button fill="clear" (click)="editarVehiculo(v)"><ion-icon name="create-outline"></ion-icon></ion-button>
              <ion-button fill="clear" [color]="v.activo === 'si' ? 'danger' : 'success'" (click)="cambiarEstadoVehiculo(v)">
                <ion-icon [name]="v.activo === 'si' ? 'trash-outline' : 'checkmark-circle-outline'"></ion-icon>
              </ion-button>
            </ng-container>
            <ng-container *ngIf="vehiculoEditandoPatente === v.patente">
              <ion-button fill="clear" color="success" (click)="guardarVehiculo(v)"><ion-icon name="save-outline"></ion-icon></ion-button>
              <ion-button fill="clear" color="medium" (click)="cancelarEdicionVehiculo()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
            </ng-container>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>
      </div>
    </ion-content>
  </div>
</ion-app>